.project-detail-section {
  // background-color: green;
  display: flex;
  flex-direction: column;
  margin: 181px auto 0;
  padding: 45px;

  @media screen and (min-width: $screen-sm) {
    margin: 110px auto 0;
    flex-direction: row;
  }


  .text-container {
    width: 100%;
    margin-bottom: 25px;

    @media screen and (min-width: $screen-sm) {
      width: 35%;
      margin-bottom: 0;
      margin-right: 20px;
    }

    &__title, &__subtitle {
      padding-bottom: 10px;
    }

    &__title, &__subtitle, &__copy {
      font-family: "proxima-nova",sans-serif;
      text-align: left;
    }

    &__title {
      font-size: 28px;
      font-weight: 100;
      transform: translateX(-100%);
      // transform: translateY(-150%);
    }

    &__subtitle {
      font-size: 16px;
      font-weight: 100;
      transform: translateX(-100%);

      span {
        font-weight: 100;
      }
    }

    &__copy {
      font-size: 16px;
      font-weight: 400;
      padding-right: 50px;
      transform: translateX(-100%);
    }

  }

  .img-container {
    width: 100%;
    @media screen and (min-width: $screen-sm) {
      width: 65%;
    }

    img {
      max-width: 100%;
      height: auto;
    }

  }

  .button {
    margin-top: 30px;
    background-color: white;
    color: #333333;
    padding: 20px 64px;
    margin-bottom: 20px;
    font-size: 16px; 
    font-weight: 300;
    font-family: "proxima-nova",sans-serif;
    display: inline-block;
    width: 100%;
    border: 1px solid #333333;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transform: translateX(-120%);

    @media only screen and (min-width: 767px) { 
      width: auto;
      margin-bottom: 0;
    }		

    @media only screen and (min-width: 992px) { 
      padding: 20px 96px;
    }		

    &:hover,
    &:focus {
      background-color: #333333;
      color: #FFFFFF;
      text-decoration: none;
      border: 1px solid #333333;
    }
  }
}
