.projects-section {
  margin: 108px auto 0;
  padding: 0 0;
  // max-width: 1200px;


  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media screen and (min-width: 600px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  .item {
    width: 100%;
    cursor: pointer;

    @media screen and (min-width: 450px) {
      width: 50%;
    }

    @media screen and (min-width: $screen-sm) {
      width: calc(100% / 3);
    }

    @media screen and (min-width: $screen-md) {
      width: calc(100% / 4);
    }

    @media (min-width: 1800px) {
      width: calc(100% / 5);
    }

  }
  //
  // .responsive-image {
  //   max-width: 100%;
  // }

  .item img {
    display: block;
    max-width: 100%;
  }

  .item1 {
    img {
      visibility: hidden;
    }
    background: url('/../img/project-grid-corona-summer.jpg') no-repeat center center;
    background-size: cover;
  }

  .item2 {
    img {
      visibility: hidden;
    }
    background: url('/../img/project-grid-pataks.jpg') no-repeat center center;
    background-size: cover;
  }

  .item3 {
    img {
      visibility: hidden;
    }
    background: url('/../img/project-grid-liftmaster2.jpg') no-repeat center center;
    background-size: cover;
  }

  .item4 {
    img {
      visibility: hidden;
    }
    background: url('/../img/project-grid-modelo.png') no-repeat center center;
    background-size: cover;
  }

  .item5 {
    img {
      visibility: hidden;
    }
    background: url('/../img/project-grid-chamberlain.jpg') no-repeat center center;
    background-size: cover;
  }

  .item6 {
    img {
      visibility: hidden;
    }
    background: url('/../img/project-grid-liftmaster.jpg') no-repeat center center;
    background-size: cover;
  }

  .item7 {
    img {
      visibility: hidden;
    }
    background: url('/../img/project-grid-google-cloud.png') no-repeat center center;
    background-size: cover;
  }

  .item8 {
    img {
      visibility: hidden;
    }
    background: url('/../img/project-grid-lyrical.png') no-repeat center left;
    background-size: cover;
  }







 }
