.projects-section {
  margin: 164px auto 0;
  padding: 0 0;

  @media(min-width: $screen-sm) {
    margin: 110px auto 0;
    padding-bottom: 75px;
  }

  .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media screen and (min-width: 600px) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }

    .item--hover-active {
      background-color: rgba(255, 255, 255, 0.9);
      transition: 1s;

      h3 {
        opacity: 1 !important;
        transition: 1s;
      }
    }

    .item--hover-inactive {
      visibility: hidden;
    }
  }

  .item {
    position: relative;
    width: 100%;
    cursor: pointer;


    @media screen and (min-width: 450px) {
      width: 50%;
    }

    @media screen and (min-width: $screen-sm) {
      width: calc(100% / 4);
    }

    img {
      display: block;
      max-width: 100%;
      visibility: hidden;
    }

    .layer {
      padding: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;

      @media screen and (min-width: 767px) and (max-width: 850px) {
        padding: 2%;
      }

      h3 {
        font-family: "proxima-nova",sans-serif;
        font-weight: 800;
        font-size: 18px;
        letter-spacing: 2px;
        text-transform: uppercase;
        opacity: 0;
        white-space: nowrap;
        display: flex;

        @media screen and (min-width: 1000px) {
          font-size: 22px;
        }
  
      }

      &__icon {
        font-size: 17px;
        font-weight: 800;
        padding-left: 10px;
        position: relative;
        top: 2px;

        @media screen and (min-width: 1000px) {
          font-size: 22px;
          top: 1px;
        }
      }
    }
  }

  .item1 {
    background: url('/../img/project-grid-corona-summer.jpg') no-repeat center center;
    background-size: cover;
  }

  .item2 {
    background: url('/../img/project-grid-pataks.jpg') no-repeat center center;
    background-size: cover;
  }

  .item3 {
    background: url('/../img/project-grid-liftmaster-new-1.png') no-repeat center top;
    background-size: cover;
  }

  .item4 {
    background: url('/../img/project-grid-modelo.png') no-repeat center center;
    background-size: cover;
  }

  .item5 {
    background: url('/../img/project-grid-chamberlain.jpg') no-repeat center center;
    background-size: cover;
  }

  .item6 {
    background: url('/../img/project-grid-liftmaster2.jpg') no-repeat center center;
    background-size: cover;
  }

  .item7 {
    background: url('/../img/project-grid-google-cloud.png') no-repeat center center;
    background-size: cover;
  }

  .item8 {
    background: url('/../img/project-grid-lyrical.png') no-repeat center left;
    background-size: cover;
  }

  .item9 {
    background: url('/../img/project-grid-amway.png') no-repeat center left;
    background-size: cover;
  }

  .item10 {
    background: url('/../img/project-grid-tti.png') no-repeat center center;
    background-size: cover;
  }

  .item11 {
    background: url('/../img/project-grid-eaton-800-C.png') no-repeat center left;
    background-size: cover;
  }

  .item12 {
    background: url('/../img/project-grid-nyu-1.png') no-repeat center center;
    background-size: cover;
  }

  .item13 {
    background: url('/../img/project-grid-hyatt.jpg') no-repeat left center;
    background-size: cover;
  }

  .item14 {
    background: url('/../img/project-grid-csl-2-2.png') no-repeat center left;
    background-size: cover;
  }

  .item15 {
    background: url('/../img/project-grid-jj-ventures-2.png') no-repeat center center;
    background-size: cover;
  }
 }
