*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

body {
  margin: 0; }

body, html {
  height: 100%; }

.wrapper {
  width: 100%; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 45px;
  background-color: white; }
  .header .nav-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .header .nav-wrapper__list {
      list-style-type: none; }
      .header .nav-wrapper__list li {
        color: #8a8a8a;
        font-family: "proxima-nova",sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding-right: 30px;
        display: inline-block; }
        .header .nav-wrapper__list li a {
          text-decoration: none;
          color: #8a8a8a;
          letter-spacing: 1px; }
          .header .nav-wrapper__list li a:hover {
            color: #000000;
            text-decoration: underline;
            text-underline-position: under; }
          .header .nav-wrapper__list li a:active {
            color: #8a8a8a; }
    .header .nav-wrapper__name {
      position: absolute;
      right: 45px; }
      .header .nav-wrapper__name h1 {
        font-family: "proxima-nova",sans-serif;
        font-weight: 800;
        font-size: 28px;
        letter-spacing: 2px; }

.projects-section {
  margin: 108px auto 0;
  padding: 0 0; }
  .projects-section .grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    @media screen and (min-width: 600px) {
      .projects-section .grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row; } }
  .projects-section .item {
    width: 100%; }
    @media screen and (min-width: 450px) {
      .projects-section .item {
        width: 50%; } }
    @media screen and (min-width: 992px) {
      .projects-section .item {
        width: calc(100% / 3); } }
    @media screen and (min-width: 1200px) {
      .projects-section .item {
        width: calc(100% / 4); } }
    @media screen and (min-width: 1500px) {
      .projects-section .item {
        width: calc(100% / 5); } }
  .projects-section .item img {
    display: block;
    max-width: 100%; }
  .projects-section .item1 {
    background: url("/../img/project-grid-corona-summer.jpg") no-repeat center center;
    background-size: cover; }
    .projects-section .item1 img {
      visibility: hidden; }
  .projects-section .item2 {
    background: url("/../img/project-grid-pataks.jpg") no-repeat center center;
    background-size: cover; }
    .projects-section .item2 img {
      visibility: hidden; }
  .projects-section .item3 {
    background: url("/../img/project-grid-liftmaster2.jpg") no-repeat center center;
    background-size: cover; }
    .projects-section .item3 img {
      visibility: hidden; }
  .projects-section .item4 {
    background: url("/../img/project-grid-modelo.png") no-repeat center center;
    background-size: cover; }
    .projects-section .item4 img {
      visibility: hidden; }
  .projects-section .item5 {
    background: url("/../img/project-grid-chamberlain.jpg") no-repeat center center;
    background-size: cover; }
    .projects-section .item5 img {
      visibility: hidden; }
  .projects-section .item6 {
    background: url("/../img/project-grid-liftmaster.jpg") no-repeat center center;
    background-size: cover; }
    .projects-section .item6 img {
      visibility: hidden; }
  .projects-section .item7 {
    background: url("/../img/project-grid-google-cloud.png") no-repeat center center;
    background-size: cover; }
    .projects-section .item7 img {
      visibility: hidden; }
  .projects-section .item8 {
    background: url("/../img/project-grid-lyrical.png") no-repeat center left;
    background-size: cover; }
    .projects-section .item8 img {
      visibility: hidden; }
