*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

body {
  margin: 0; }

body, html {
  height: 100%; }

.header {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 45px;
  background-color: #ADD8E6; }
  .header .nav-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .header .nav-wrapper__list {
      list-style-type: none; }
      .header .nav-wrapper__list li {
        color: #8a8a8a;
        font-family: "proxima-nova",sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding-right: 30px;
        display: inline-block; }
        .header .nav-wrapper__list li a {
          text-decoration: none;
          color: #8a8a8a;
          letter-spacing: 1px; }
          .header .nav-wrapper__list li a:hover {
            color: #000000;
            text-decoration: underline;
            text-underline-position: under; }
          .header .nav-wrapper__list li a:active {
            color: #8a8a8a; }
    .header .nav-wrapper__name {
      position: absolute;
      right: 45px; }
      .header .nav-wrapper__name h1 {
        font-family: "proxima-nova",sans-serif;
        font-weight: 800;
        font-size: 28px;
        letter-spacing: 2px; }
