// Colors
$black:         #000000;
$white:         #ffffff;
$blue:          #4285F4;
$red:           #EA4335;
$yellow:        #FBBC05;
$green:         #34A853;

$gray-lightest:  #F8F9FA;
$gray-light:     #F1F3F4;
$gray:           #9AA0A6; // base
$gray-dark:      #5F6368;
$gray-darker:    #3C4043;
$gray-darkest:   #202124;


// Fonts

$google-sans: 'Google Sans', sans-serif;
$open-sans:   'Open Sans', sans-serif;
$roboto:      'Roboto', sans-serif;
$roboto-slab: 'Roboto Slab', serif;
$google-sans-display: 'Google Sans Display', sans-serif;

// Font weight
$light:          300;
$regular:        400;
$medium:         500;
$bold:           700;
